body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input:nth-child(1){
    width: 400px;
    height: 40px;
    border-radius: 40px;
    margin-bottom: 20px;

}
input:nth-child(2){
    width: 800px;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 40px;

}

input:nth-child(3), .refresh-showmore input:nth-child(1), .refresh-showmore input:nth-child(2){
    height: 50px;
    width: 150px;
    border-radius: 30px;
    background-color:#EC574B;
    border: 1px solid white;
    color: white;
}

.number-options{
    display: flex;
    gap: 20px;
    
}
label input:nth-child(1), label input:nth-child(2), label input:nth-child(3){
    height: 20px;
    width: 20px;
}

.h3one{
    background-color: rgba(135, 206, 235, 0.8);
    border-radius: 5px 5px 5px 0;
    min-width: 100px;
    max-width: 500px;
    min-height: 40px;
    max-height: 500px;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    font-weight: 400;
    align-self: flex-start;
    overflow-wrap: break-word;
}

.h3two{
    background-color: rgba(135, 80, 235, 0.8);
    border-radius: 5px 5px 0 5px;
    min-width: 100px;
    max-width: 500px;
    min-height: 40px;
    max-height: 500px;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    font-weight: 400;
    align-self: flex-end;
    overflow-wrap: break-word;
    
    
}
.p1{
    margin-top: -10px;
    color: rgba(0,0,0,0.5);
    align-self: flex-start;
    margin-left: 35px;
}

.p2{
    margin-top: -10px;
    color: rgba(0,0,0,0.5);
    align-self: flex-end;
    margin-right: 35px;
}

.container{
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ninja-message{
    display: flex;
    align-self: flex-start;
}

.ninja-message2{
    display: flex;
    align-self: flex-end;
}

.ninja{
    height: 30px;
    width: 30px;
    align-self: flex-start;
    margin-top: 30px;
    margin-right: 6px;
}

.ninja2{
    height: 40px;
    width: 40px;
    align-self: flex-end;
    margin-bottom: 25px;
    margin-left: 6px;
}

p{
    text-align: center;
}